# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
bin/
config/
data/
tmp/
.DS_Store
.project
# omit Go vendor directories
vendor/
.vscode
.gradle
.idea
# object/library file
*.o
*.so
*.a
*.bin
*.bz2
*.tar
